:root {
  --background-color-header: #f8f5f2;
  --text-color-header: #232323;

  --background-color-footer: #eee9e5;
  --text-color-footer: #232323;

  --background-color-weather: #fffffe;
  --text-color-weather: #232323;

  --background-color-about: #f8f5f2;
  --text-color-about: #232323;

  --background-color-skills: #fffffe;
  --text-color-skills: #232323;

  --background-color-portfolio: #fffffe;
  --text-color-portfolio: #232323;
  --background-color-portfolio-article-hover: #f8f5f2;

  --background-color-reference: #f8f5f2;
  --text-color-reference: #2C3E50;
  --background-color-reference-article-hover: #f8f5f2;

  --background-color-contact: #fffffe;
  --text-color-contact: #232323;
  --background-color-circle: #f8f5f2;
  --background-color-form: #f8f5f2;

  --background-color-button: #065177;
  --background-color-button-hover: #1f8d8d;
  --text-color-button: #f7f3f3;
  --box-shadow-button: 1px 1px 1px rgb(37, 28, 28);

  --background-color-link-item-hover: #f45d48;
  --text-color-link-hover: #f45d48;
  --box-shadow-link-hover: 0 4px 6px rgba(0, 0, 0, 0.1);

  --box-shadow-article-hover: 0px 6px 20px rgba(0, 0, 0, 0.1);
}