footer {
    background-color: var(--background-color-footer);
    text-align: center;
    padding: 1.45rem; 
    padding-bottom: 1rem; 
}

.footer-menu {
    display: flex;
    justify-content: center;
    margin: 1.25rem 0;
}

.footer-menu-item {
    text-decoration: none;
    color: var(--text-color-default);
    padding: 0.25rem 0.625rem;
    transition: all 0.3s ease;
}

.footer-menu-item:hover {
    color: var(--text-color-link-hover);
    border-radius: 0.625rem;
}

.footer-link {
    margin: 1.25rem 0;
    text-align: center;
}

.footer-menu-list,
.footer-link-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-link-item {
    font-size: 2.25rem;
    list-style-type: none;
    color: var(--text-color-default);
    margin: 0 0.9375rem;
}

.footer-link-item:hover {
    color: var(--background-color-link-item-hover);
    transform: scale(1.1); 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.footer-text {
    font-size: 0.875rem;
    margin: 1.25rem;
    color: var(--text-color-default);
}

@media (max-width: 767px) {
    footer {
        padding: 1.25rem;
        height: auto;
    }

    .footer-menu-list {
        flex-direction: column;
        gap: 0.625rem; 
    }

    .footer-menu-item {
        font-size: 0.9375rem;
        padding: 0.5rem;
    }

    .footer-link {
        margin-top: 1.25rem;
    }

    .footer-link-list {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
    }

    .footer-link-item {
        font-size: 1.25rem;
        margin: 0 0.3125rem;
    }

    .footer-text {
        font-size: 0.6875rem;
        margin-top: 0.625rem;
    }
}