:root {
  --background-color-header: #f8f5f2;
  --background-color-footer: #eee9e5;
  --background-color-about: #f8f5f2;
  --background-color-sections: #fffffe;
  --background-color-article-hover: #f8f5f2;
  --background-color-circle: #f8f5f2;
  --background-color-button: #065177;
  --background-color-button-hover: #1f8d8d;
  --background-color-link-item-hover: #f45d48;
  --text-color-link-hover: #f45d48;
  --text-color-default: #232323;
  --text-color-button: #f7f3f3;
  --box-shadow-button: 1px 1px 1px rgb(37, 28, 28);
  --box-shadow-link-hover: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-article-hover: 0px 6px 20px rgba(0, 0, 0, 0.1);
}