.project {
    padding: 1.75rem;
    border-radius: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color-card);
}

.project h3 {
    font-weight: bold;
}

.project-image {
    object-fit: fill;
    display: block;
    border-radius: 0.625rem;
    width: 100%;
    height: 13rem;
}

.project-links {
    margin-top: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.primary-button.project-link-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.project-description {
    margin-top: 0.9rem;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
}

.project-description p {
    margin-bottom: 0.75rem;
}

.project-intro {
    font-weight: 600;
    margin-bottom: 0.75rem;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .project {
        padding: 1.5rem;
    }

    .project h3 {
        margin-bottom: 1.5rem;
    }

    .project-image {
        height: 12rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .project {
        padding: 1.5rem;
    }

    .project-image {
        height: 8rem;
    }

    .project-links {
        gap: 0.5rem;
    }

    .primary-button.project-link-button {
        padding: 0.4rem 0.75rem;
        font-size: 0.75rem;
    }

    .project-description {
        padding: 0.3rem 0.2rem;
    }

    .project-description p {
        margin-bottom: 0.6rem;
    }

    .project-intro {
        margin-bottom: 0.6rem;
    }
}