.about {
    background-color: var(--background-color-about);
    box-shadow: 0 0 0 80px var(--background-color-about);
    color: var(--text-color-about);
    box-sizing: border-box; // Ensures padding doesn't exceed element's width 
    width: 100%;
    max-width: 100%; // Prevent overflow 
    min-height: 50rem;
    margin-top: 3.125rem;
    padding-left: 2.5rem;
}

.about-header {
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    margin: 1.25rem;
    padding-left: 0.9375rem;
    display: block;
    width: 50%;
}

.about-me {
    margin: 1.875rem;
    height: 34.375rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-me-information {
    max-width: 50%;
}

.about-me-information p {
    margin-top: 2rem;
    font-size: 1.375rem;
    line-height: 1.6;
}

.button-download {
    text-decoration: none;
    padding: 1.25rem 2.5rem;
    margin-top: 3.125rem;
    font-weight: 700;
    color: var(--text-color-button);
    background-color: var(--background-color-button);
    display: inline-block;
    box-shadow: var(--box-shadow-button);
    border-radius: 2.5rem;
    border: 1px solid #ccc; 
    font-size: 1.25rem;
    text-align: center;
    transition: all 0.3s ease;
}

.button-download:hover {
    background-color: var(--background-color-button-hover);
    box-shadow: var(--box-shadow-button);
    transform: translateY(-3px); // Slightly lifts the button when hovered 
}

.button-download:active {
    transform: translateY(1px); // Gives a pressed effect when the button is clicked 
}

.about-me-portrait {
    transform: translateX(-6.375rem) translateY(-6.25rem); // Manual positioning 
    border: 3px solid var(--background-color-about);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-me-img {
    height: 34.375rem;
    border-radius: 50%;
}

// ====== Media query for small to medium laptops and larger tablets ======= 

@media (min-width: 1242px) and (max-width: 1560px) {
    .about-header {
        font-size: 2.3125rem;
    }

    .about-me-portrait {
        transform: translateX(-1.25rem) translateY(-3.75rem);
    }

    .about-me-img {
        height: 26.25rem;
        border-radius: 50%;
    }
}

// ====== Media query for tablets ======= 

@media (min-width: 768px) and (max-width: 1242px) {
    .about {
        margin-bottom: 5rem;
    }

    .about-header {
        font-size: 1.875rem;
        ;
        text-align: center;
        width: 100%;
        padding-left: 0;
        padding-right: 3.125rem;
    }

    .about-me {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        margin-top: 0;
    }

    .about-me-information {
        max-width: 100%;
        padding: 1.25rem;
        padding-top: 0;
        text-align: center;
    }

    .about-me-portrait {
        transform: translateX(0) translateY(0); // Resets previous translations 
        margin-top: 2.5rem;
    }
}

// ====== Media query for mobile ======= 

@media (max-width: 767px) {
    .about {
        margin-bottom: 5rem;
        padding-left: 2.1875rem;
    }

    .about-header {
        font-size: 1.55rem;
        text-align: left;
        width: 100%;
        padding-left: 0;
        padding-right: 1.875rem;
    }

    .about-me {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        margin-top: 1.25rem;
    }

    .about-me-information {
        max-width: 100%;
        padding: 0;
        text-align: left;
    }

    .about-me-information p {
        font-size: 1rem;
        margin: 0;
    }

    .about-me-portrait {
        transform: translateX(0) translateY(0);
        margin-top: 3.4375rem;
    }

    .about-me-img {
        height: 21.875rem;
    }
}