.contact {
    background-color: var(--background-color-sections);
    box-shadow: 0 0 0 60px var(--background-color-sections);
    color: var(--text-color-default);
    margin-bottom: 3.75rem;
    scroll-margin-top: 7.5rem;
    padding: 1.25rem;
}
.contact-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.875rem;
    margin-left: 12.5625rem;
    padding-right: 12.5rem;
}

.contact-me-img {
    height: 22.375rem;
    border-radius: 10%;
}

.contact-me-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.25rem;
    font-style: normal;
    font-size: 1.25rem;
    width: 400px; 
    height: 400px; 
    margin: 0; 
    border-radius: 50%;
    border: 3px solid var(--background-color-circle);
    background-color: var(--background-color-circle);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-me-info:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 30px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px); 
    transition: all 0.3s ease; 
}

.contact-me-info-text {
    margin-bottom: 1.25rem;
}

.contact-me-info-list {
    list-style-type: none;
    padding: 0;
}

.contact-me-info-link {
    color: var(--text-color-default);
    display: inline-block; 
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 1.25rem;
    transition: all 0.3s ease;
}

.contact-me-info-link:hover {
    color: var(--text-color-link-hover);
    text-decoration: none;
    transform: translateY(-3px); 
    box-shadow: var(--box-shadow-link-hover);
}


// ====== Media query for small to medium laptops and larger tablets ======= 
@media (min-width: 1242px) and (max-width: 1560px) {
    .contact-me {
        padding: 0;
    }

    .contact-me-info {
        width: 23.125rem;
        height: 23.125rem;
        font-size: 1.125rem;
        margin: 0 auto; 
    }
}


// ====== Media query for tablets ======= 
@media (min-width: 768px) and (max-width: 1242px) {
    .contact-header {
        margin-bottom: 4.125rem;
    }

    .contact-me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-left: 1.875rem;
    }

    .contact-me-img {
        height: 22.375rem;
    }

    .contact-me-info {
        margin-top: 5.75rem;
        margin-bottom: 3.75rem;
        margin-left: auto;
        margin-right: auto; 
    }
}

// ====== Media query for mobile ======= 
@media (max-width: 767px) {
    .contact-header {
        margin-bottom: 2.125rem;
    }
    .contact-me {
        padding: 0 1.25rem;
        margin: auto;
    }

    .contact-me-portrait {
        margin: 1.875rem auto;
    }

    .contact-me-img {
        height: 15.375rem;
    }

    .contact-me-info {
        margin: 1.875rem auto;
        width: 16.5rem;
        height: 16.5rem;
        font-size: 0.85rem;
    }
}