.header-home {
    background-color: var(--background-color-header);
    color: var(--text-color-header);
    height: auto; // Lets the height adjust automatically based on content 
    padding: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; // Vertically center elements 
    width: 100%;
    position: sticky; // Makes the header sticky to stay at the top on scroll 
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--text-color-header);
}

nav {
    display: flex;
    justify-content: right;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center; // Vertically center menu items 
    gap: 1.25rem;
    list-style: none;
}

.header-menu-item {
    color: var(--text-color-header);
    text-decoration: none;
    padding: 0.25rem 0.625rem;
    transition: all 0.3s ease;
}

.header-menu-item:hover {
    border-radius: 0.625rem;
    color: var(--text-color-link-hover);
}

.header-hamburger {
    display: none; // Hides the hamburger icon by default 
}

#check:checked~.header-menu-mini {
    display: flex; // Displays the mobile menu when the checkbox is checked 
}

.header-menu-mini li {
    padding: 0.625rem 0;
    font-size: 1.375rem;
    display: block; // Ensure each item takes up the full width 
    text-align: right;
}

// ====== Media query for tablets ======= 

@media (min-width: 768px) and (max-width: 1242px) {
    .header-home {
        padding: 1.25rem;
        padding-right: 6.25rem;
        padding-left: 6.25rem;
    }

    .header-menu,
    #check {
        display: none;
    }

    .header-logo {
        font-size: 1.25rem;
    }

    .header-hamburger {
        display: inline-block;
        font-size: 2.1875rem;
    }

    .bx {
        cursor: pointer;
    }

    .header-menu-mini {
        display: none;
        top: 100%;
        visibility: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1.4px solid rgba(0, 0, 0, 0.376);
        border-radius: 2rem 0 2rem 2rem;
        margin: 0 auto;
        padding: 1.5rem 1.5rem; 
        background: var(--background-color-header);
        position: absolute;
        right: 0px;
        cursor: default;
        transition: opacity 0.3s ease-in-out;
    }
}

// ====== Media query for mobile ======= 

@media (max-width: 767px) {
    .header-home {
        padding: 1.25rem;
    }

    .header-menu,
    #check {
        display: none;
    }

    .header-logo {
        font-size: 1.125rem;
    }

    .header-hamburger {
        display: inline-block;
        font-size: 1.6875rem;
    }

    .bx {
        cursor: pointer;
    }

    .header-menu-mini {
        display: none;
        top: 100%;
        visibility: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1.4px solid rgba(0, 0, 0, 0.377);
        border-radius: 2rem 0 2rem 2rem;
        margin: 0 auto;
        padding: 1.6875rem 1.6875rem;
        background: var(--background-color-header);
        position: absolute;
        right: 0;
        cursor: default;
        transition: opacity 0.3s ease-in-out;
    }

    .header-menu-mini li {
        font-size: 1.125rem;
    }
}